.home-container {
    width: 100%;
    height: 100vh;
    // background-image: url(../../images/Artboard.png);
    .home-content-wrapper {
        width: 100%;
        height: 100%;
    }
    .home-pitch {
        width: 50%;
        height: 100%;
        background-color: khaki;
        text-align: center;
        h1 {
            margin-bottom: 30px;
        }
        h2 {
            margin-bottom: 50px;
        }

        .logo {
            position: absolute;
            top: 20px;
            left: 30px;
        }

        .demo-btn {
            background-color: white;
            height: 50px;
            width: 200px;
            text-align: center;
            padding: 0;
            color: $clr2 !important;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 2px;

            div {
                height: 100%;
                width: 100%;
                cursor: pointer;
                padding-top: 13px;
                &:active {
                    color: $clr2;
                }
            }
        }
    }
    .home-login-container {
        width: 50%;
        height: 100%;
        background-color: rgb(140, 240, 240);
    }
}

// @keyframes move_wave {
//     0% {
//         transform: translateX(0) translateZ(0) scaleY(1)
//     }
//     50% {
//         transform: translateX(-25%) translateZ(0) scaleY(0.55)
//     }
//     100% {
//         transform: translateX(-50%) translateZ(0) scaleY(1)
//     }
// }
// .waveWrapper {
//     overflow: hidden;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     margin: auto;
// }
// .waveWrapperInner {
//     position: absolute;
//     width: 100%;
//     overflow: hidden;
//     height: 100%;
//     bottom: -1px;
//     background-image: linear-gradient(to top, #0d0024 20%, #27273c 80%);
// }
// .bgTop {
//     z-index: 15;
//     opacity: 0.5;
// }
// .bgMiddle {
//     z-index: 10;
//     opacity: 0.75;
// }
// .bgBottom {
//     z-index: 5;
// }
// .wave {
//     position: absolute;
//     left: 0;
//     width: 200%;
//     height: 100%;
//     background-repeat: repeat no-repeat;
//     background-position: 0 bottom;
//     transform-origin: center bottom;
// }
// .waveTop {
//     background-size: 50% 100px;
// }
// .waveAnimation .waveTop {
//     background-image: url(http://front-end-noobs.com/jecko/img/wave-top.png);
//     background-size: 100%;
//     animation: move_wave 5s linear infinite;
//     -webkit-animation: move_wave 5s linear infinite;
//     -webkit-animation-delay: 1s;
//     animation-delay: 1s;
// }
// .waveMiddle {
//     background-image: url(http://front-end-noobs.com/jecko/img/wave-mid.png);
//     background-size: 100%;
//     background-size: 50% 120px;
// }
// .waveAnimation .waveMiddle {
//     animation: move_wave 10s linear infinite;
// }
// .waveBottom {
//     background-image: url(http://front-end-noobs.com/jecko/img/wave-bot.png);
//     background-size: 100%;
//     background-size: 50% 100px;
// }
// .waveAnimation .waveBottom {
//     animation: move_wave 15s linear infinite;
// }