.home-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wallpaper {
        background-image: url(../../images/Pattern-BG.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 130%;
        height: 130%;
        position: fixed;
        z-index: -1;
        transform: translate(-30%, -38%) rotate(-220deg);
        animation: wallpaper-animation 1s;
        @include for-wide-layout {
            // 1440px
            transform: translate(-40%, -28%) rotate(-230deg);
            width: 150%;
        }
        @include for-normal-layout {
            // 1080px
            transform: translate(-45%, -25%) rotate(-235deg);
            width: 170%;
        }
        @include for-narrow-layout {
            // 860px
            transform: translate(-50%, -25%) rotate(-243deg);
            width: 195%;

            animation: none;
        }
        @include for-w-mobile-layout {
            // 650px
            transform: translate(-55%, -35%) rotate(-243deg);
            width: 195%;
        }
    }
    .home-content-wrapper {
        width: 100%;
        height: 100%;
    }
    .home-pitch {
        width: 50%;
        height: 100%;
        text-align: center;

        .logo {
            content: url(../../images/tasker-logo-white.svg);
            position: absolute;
            color: $clr6;
            width: 230px;
            top: 20px;
            left: 30px;
            transform: translate(-10%, -40%);
        }
        .home-description-wrapper {
            position: relative;

            h3 {
                margin-bottom: 50px;
                font-size: 4em;
                color: $clr6;
                position: relative;
                &.line-a {
                    font-size: 7em;
                    top: -70px;
                    left: -30px;
                }
                &.line-b {
                    top: -56px;
                }
                &.line-c {
                    top: -97px;
                    left: 74px;
                }
            }

            .demo-btn {
                cursor: pointer;
                position: relative;
                background-color: $clr6;
                height: 50px;
                width: 200px;
                text-align: center;
                padding: 0;
                color: #8c30d3 !important;
                font-size: 1.2em;
                font-weight: 700;
                border-radius: 2.5em;
                top: -50px;
                left: 74px;
                animation: demo-btn-animation 1.5s;
                transition: 0.25s;
                &:hover {
                    width: 220px;
                    height: 60px;
                    font-size: 1.3em;
                    top: -45px;
                    left: 64px;
                    margin-top: -10px;
                }
            }
            @include for-normal-layout {
                // 1080px
                font-size: 12px;
            }
            @include for-narrow-layout {
                // 860px
                position: absolute;
                font-size: 8px;
                top: 0;
                margin-top: 100px;
                left: 50%;
                transform: translateX(-50%);
                -webkit-text-stroke: 1px #8c30d3;
                h3 {
                    margin-bottom: 10px;
                    &.line-a {
                        font-size: 7em;
                        top: -70px;
                        left: -30px;
                    }
                    &.line-b {
                        top: -56px;
                    }
                    &.line-c {
                        top: -65px;
                        left: 74px;
                    }
                }
                .demo-btn {
                    animation: none;
                    top: 55vh;
                    left: 0;
                    margin: 0 auto;
                    font-size: 2em;
                    background-color: #8c30d3;
                    color: $clr6 !important;
                    -webkit-text-stroke: 0;

                    &:hover {
                        top: 50vh;
                        left: 0;
                        margin-top: 0;
                        height: 50px;
                        width: 200px;
                        font-size: 2em;
                    }
                }
            }
        }
    }
    .home-login-container {
        width: 45%;
        height: 100%;
        animation: login-container-animation 1s;
        // background-color: rgb(140, 240, 240);
        @include for-narrow-layout {
            // 860px
            animation: none;
            height: fit-content;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes wallpaper-animation {
    0% {
        transform: translate(-130%, -38%) rotate(-220deg);
    }
    100% {
        transform: translate(-30%, -38%) rotate(-220deg);
    }
}

@keyframes login-container-animation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes demo-btn-animation {
    0% {
        opacity: 0;
    }
    50% {
        top: -80px;
        opacity: 0;
    }
    100% {
        top: -50px;
        opacity: 1;
    }
}
