.home-container {
    width: 100%;
    height: 100vh;
    .wallpaper {
        background-image: url(../../images/Pattern-BG.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 130%;
        height: 130%;
        position: fixed;
        z-index: -1;
        transform: translate(-30%, -38%) rotate(-220deg);
        animation: wallpaper-animation 1s;
    }
    .home-content-wrapper {
        width: 100%;
        height: 100%;
    }
    .home-pitch {
        width: 50%;
        height: 100%;
        text-align: center;
        h2 {
            margin-bottom: 30px;
            font-size: 2rem;
            color: $clr6;
        }
        h3 {
            margin-bottom: 50px;
            font-size: 4rem;
            color: $clr6;
            position: relative;
            &.line-a {
                font-size: 7rem;
                top: -70px;
                left: -30px;
            }
            &.line-b {
                top: -56px;
            }
            &.line-c {
                top: -97px;
                left: 74px;
            }
        }

        .logo {
            content: url(../../images/tasker-logo-white.svg);
            position: absolute;
            color: $clr6;
            width: 230px;
            top: 20px;
            left: 30px;
            transform: translate(-10%, -40%);
        }

        .demo-btn {
            position: relative;
            background-color: $clr6;
            height: 50px;
            width: 200px;
            text-align: center;
            padding: 0;
            color: #8c30d3 !important;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 2.5rem;
            top: -50px;
            left: -30px;
            animation: demo-btn-animation 1.5s;
            transition: 0.25s;
            &:hover {
                width: 220px;
                
            }

            div {
                height: 100%;
                width: 100%;
                cursor: pointer;
                padding-top: 13px;
                
            }
        }
    }
    .home-login-container {
        width: 45%;
        height: 100%;
        animation: login-container-animation 1s;
        // background-color: rgb(140, 240, 240);
    }
}

@keyframes wallpaper-animation {
    0% {
        transform: translate(-130%, -38%) rotate(-220deg);
    }
    100% {
        transform: translate(-30%, -38%) rotate(-220deg);
    }
}

@keyframes login-container-animation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes demo-btn-animation {
    0% {
        opacity: 0;
    }
    50% {
        top: -80px;
        opacity: 0;
    }
    100% {
        top: -50px;
        opacity: 1;
    }
}
