.board-menu-container {
    background-color: #333;
    position: relative;
    width: fit-content;
    height: 100px;
    border-radius: 4px;
    left: -5px;
    bottom: 67px;
    animation: board-menu-animation 0.2s alternate;

    div {
        padding: 0 20px;
        &:hover {
            background-color: #424242;
        }
    }

    .loading {
        width: 200px;
        height: 100px;
        content: url(../../images/Eclipse-0.8s-217px.svg);
        background-color: $clr6;
    }
}

@keyframes board-menu-animation {
    0% {
        left: 70px;
    }

    100% {
        left: -5px;
    }
}

