.board-menu-container {
    background-color: $clr6;
    color: $clr1;
    position: relative;
    width: fit-content;
    height: 94px;
    border-radius: 4px;
    left: -2px;
    bottom: 64px;
    animation: board-menu-animation 0.2s alternate;

    > div {
        display: flex;
        align-items: center;
        padding: 0 20px;
        cursor: pointer;
        justify-self: center;

        height: 100%;
        &:hover {
            background-color: #e8ecee;
        }
    }

    .delete-btn{
        color: #eb4d4b;
    }

    .loading {
        width: 194px;
        height: 100px;
        content: url(../../images/Eclipse-0.8s-217px.svg);
    }

    form {
        width: 200px;
        input {
            width: 80%;
            margin: 0 auto;
            border: 0;
            padding: 4px 10px;
            border-bottom: 1px solid $clr4;
        }
    }

    .update-cover-btn {
        background: url(../../images/next.svg) no-repeat right 3px top 50%;
        background-size: 10px;
    }

    .change-cover-wrap {
        position: absolute;
        cursor: auto;
        background-color: $clr6;
        color: $clr1;
        height: fit-content;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
        border-radius: 4px;
        padding: 10px;
        transform: translate(50%, 25px);

        .upload-pic-btn {
            width: 100%;
            cursor: pointer;
            text-align: center;
            &:hover{
                background-color: #e8ecee;
            }
        }

        .color-palette {
            padding: 0;
            margin-bottom: 10px;
            >* {
                font-size: 25px;
                padding: 5px;
                cursor: pointer;
                flex-wrap: wrap;
            }
            :nth-child(1){
                color: #e74c3c;
            }
            :nth-child(2){
                color: #e67e22;
            }
            :nth-child(3){
                color: #f1c40f;
            }
            :nth-child(4){
                color: #27ae60;
            }
            :nth-child(5){
                color: #2980b9;
            }
            :nth-child(6){
                color: #8e44ad;
            }
        }
    }
}

.box-shadow-off {
    box-shadow: none;
}

@keyframes board-menu-animation {
    0% {
        left: 70px;
    }

    100% {
        left: -5px;
    }
}
