.card-preview {
    cursor: pointer !important;
    position: relative;
    padding: 5px 10px;
    border: 1px solid darken($color: $clr5, $amount: 7);
    border-radius: 4px;
    margin: 10px;
    color: $clr2;
    background-color: $clr6;
    & .drag .isDragging,
    &:hover {
        background-color: lighten($color: $clr5, $amount: 0.5);
    }

    img {
        width: 100%;
        align-self: center;
        border-radius: 4px;
        // padding: 5px;
    }

    input {
        border: 0;
        word-wrap: break-word;
        width: 200px;
        height: 20px;
        font-size: 0.9rem;
        padding-left: 40px;
        transition: 0.25s;
        &:focus {
            padding-left: 0;
        }
    }

    /*  .card-text {
        padding-bottom: 10px;
    }
 */
    .menu-btn {
        width: 20px;
        padding: 4px;
        border-radius: 2.5rem;
        &:hover {
            content: url(../../images/menu.svg);
            visibility: visible;
        }
    }

    &:hover .menu-btn {
        visibility: visible;
    }

    &:hover .hidden {
        display: block;
    }

    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 190px;
    }
}
.card-menu-container {
    position: absolute;
    left: 210px;
}
.menu-options {
    background: white;
    position: absolute;
    z-index: 2;
    width: max-content;
    height: fit-content;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
    border-radius: 4px;
    transform: translateX(-100%);

    > * {
        padding: 10px;
    }
    > *:hover {
        background-color: $clr5;
    }

    :last-child {
        color: #eb4d4b;
    }
}

.list-menu-container {
    .menu-btn {
        width: 20px;
        padding: 4px;
        &:hover {
            content: url(../../images/menu.svg);
        }
    }
}

.isDragging {
    background-color: $clr5 !important;
}
