.card-preview {
    cursor: pointer !important;
    padding: 16px;
    border: 1px solid $clr5;
    border-radius: 4px;
    margin: 16px;
    color: $clr2;
    background-color: $clr6;
    & .drag .isDragging,
    &:hover {
        background-color: lighten($color: $clr5, $amount: 0.5);
        // transform: rotate(6deg);
    }

    input {
        border: 0;
        word-wrap: break-word;
        width: 200px;
        height: 20px;
        font-size: .9rem;
        padding-left: 40px;
        transition: .25s;
        &:focus{
            padding-left: 0;
        }
    }

    .card-text {
        padding-bottom: 10px;
    }

    .menu-btn {
        float: right;
        width: 20px;
        padding: 4px;
        border-radius: 2.5rem;
        // background-color: $clr4;
        &:hover {
            content: url(../../images/menu.svg);
        }
    }

    .hidden {
        display: none;
    }

    &:hover .hidden {
        display: block;
    }

    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.menu-options {
    background: white;
    position: absolute;
    z-index: 1;
    width: max-content;
    height: fit-content;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
    border-radius: 4px;
    transform: translateX(-90%);

    > * {
        padding: 10px;
    }
    > *:hover {
        background-color: $clr5;
    }
    :last-child {
        color: #eb4d4b;
    }
    &.card-menu {
        margin-top: 20px;
        margin-left: 190px;
    }
}

.list-menu-container {
    .menu-btn {
        width: 20px;
        padding: 4px;
        &:hover {
            content: url(../../images/menu.svg);
        }
    }
}
