.card-preview{
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 50px;
    width: 300px;
    color: $clr2;
    background-color: $clr5;

    

    &.drag.isDragging {
        background-color: $clr5-1;
        // transform: rotate(6deg);
        }
    &:hover {
        background-color: $clr5-1;
    }
    &.drag:active {
        // transform: rotate(6deg);
    }  

}