.board-app-container {
    width: 100%;
    height: 100%;

    .board-background {
        z-index: -1;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    .wrap-card-lists {
        padding: 94px 0 0 30px;
        width: fit-content;

        // .card-lists {

        // }

        .wrap-card-list {
            height: fit-content;
            background-color: $clr6;
            margin: 0 15px;
            border-radius: 4px;

            .card-list-container {
                height: fit-content;
                width: 270px;

                .card-list {
                    padding-bottom: 2px;
                    max-height: calc(100vh - 250px);
                    overflow: auto;

                    > :last-child {
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                }

                .title-content {
                    padding: 32px 16px 16px;

                    input {
                        height: 30px;
                        width: 200px;
                        border: 0;
                        font-family: Ubuntu;
                        font-size: 1.4rem;
                    }

                    .list-title {
                        color: $clr1;
                        font-size: 1.3rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                > :last-child {
                    border: 0;
                    height: 30px;
                    padding: 0;
                    margin: 0 0 16px;
                    width: 100%;
                    color: darken($color: $clr4, $amount: 15%);
                    &:hover {
                        color: #4886ff;
                        background-color: $clr6;
                    }
                }

                &.list-hidden {
                    visibility: hidden;
                }

                &:hover .list-hidden {
                    visibility: visible;
                }

                & .list-opacity {
                    opacity: 0.2;
                }

                h2 {
                    color: $clr6;
                    margin-bottom: 5px;
                }

                .top-icons {
                    float: right;
                }
            }
        }
        .add-list {
            .add-list-btn {
                right: 60px;
                bottom: 60px;
                position: fixed;
                box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.424);
                border-radius: 50%;
                padding: 15px;
                background-color: #4886ff;
                cursor: pointer;
                width: 45px;
                height: 45px;
            }
            input {
                position: absolute;
                width: 300px;
                right: -100px;
                opacity: 0;
                transition: 0.25s;
                bottom: 200px;
                height: 50px;
                padding-left: 20px;
                font-size: 1.2rem;
                border: 0;
                border-radius: 4px;
                box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.424);
                &:focus {
                    right: 40px;
                    opacity: 1;
                }
            }
        }
    }
}

.scrollGradient {
    background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(34, 34, 34, 0.5), rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%, rgba(34, 34, 34, 0.5), rgba(0, 0, 0, 0)) 0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 68px, 100% 68px, 100% 34px, 100% 34px;
}
