.wrap-card-lists{
    margin-top: 50px;
}

.card-list{
    padding: 4px;
    width: 250px;
    margin: 8px;
    min-height: 30px;
    background-color: lightgrey;


    &.lightblue {
        background-color: lightblue;
    }
}

