.card-preview {
    cursor: pointer !important;
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 7px;
    // min-height: 10px;
    color: $clr2;
    background-color: $clr6;
    & .drag .isDragging,
    &:hover {
        background-color: lighten($color: $clr5, $amount: 0.5);
        // transform: rotate(6deg);
    }

    .card-text {
        padding-bottom: 10px;
    }

    .menu-btn {
        float: right;
        width: 20px;
        padding: 4px;
        // visibility: hidden;
        background-color: lighten($color: $clr5, $amount: 20%);
        border-radius: 2.5rem;
    }

 
    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & .edit-card-options {
        position: relative;
        & > * {
            position: absolute;
            left: -50;
            & > * {
                background-color: 0;
            }
            & > *:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover .hidden {
                display: flex;
            }
        }

        // & .hidden{
        //     display: none;
        //     }
    }
}
