.card-members-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(173, 173, 173);
    margin-bottom: 10px;
}
.card-members {
    .profile-tooltip-wraper{
        &:hover{
            .card-member-tooltip {
                display: block;
            }
        }
    }
    .card-member {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
        &:hover {
            cursor: pointer;
            
        }
    }
    .card-member-invite {
        height: 30px;
        width: fit-content;
        border-radius: 50%;
        border: none;
        background-color: rgba(142, 176, 248, 0.267);
        font-weight: 600;
        border-radius: 5px;
        color: $clr1;
    }
    .card-member-tooltip {
        position: absolute;
        z-index: 50;
        display: none;
        transform: translate(-11px,5px);
        background-color: rgba(0, 0, 0, 0.733);
        color: #fff;
        padding: 3px;
        border-radius: 6px;
        p {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            line-height: normal;
            margin: 0;
            padding: 0;
        }
    }
}
.add-card-member-modal {
    position: absolute;
    transform: translateY(100%);
    z-index: 10;
    width: fit-content;
    padding: 5px 10px;
    height: 40px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.377);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    opacity: 0.3;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    .first-member {
        margin-left: 0px;
    }
}
.member-overlay {
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.521);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.card-user-profile {
    border-radius: 50%;
    color: $clr5;
    background-color: $clr2;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        cursor: pointer;
    }
}
.card-member-remove {
    position: absolute;
    z-index: 50;
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: rgb(252, 118, 118);
    background-image: url(../../images/minus.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    top: -2px;
    right: -4px;
    transition: 0.2s ease;
    &:hover {
        width: 18px;
        height: 18px;
        background-color: rgb(250, 87, 87);
    }
}

@keyframes rotate180d {
    from {
    }
    to {
        background-color: rgba(110, 253, 141, 0.432);
    }
}
