.card-preview {
    cursor: pointer !important;
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 7px;

    color: $clr2;
    background-color: $clr6;
    & .drag .isDragging,
    &:hover {
        background-color: lighten($color: $clr5, $amount: 0.5);
        // transform: rotate(6deg);
    }

    .card-text {
        padding-bottom: 10px;
    }

    .menu-btn {
        float: right;
        width: 20px;
        padding: 4px;
        background-color: lighten($color: $clr5, $amount: 20%);
        border-radius: 2.5rem;
    }


    .hidden {
        display: none;
    }

    &:hover .hidden {
        display: block;
    }

    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-menu-options {
        background: white;
        position: absolute;
        margin-top: 20px;
        margin-left: 200px;
        z-index: 1;
        width: max-content;
        height: fit-content;
        text-align: center;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
        border-radius: 4px;

        > * {
            padding: 10px;
        }
        > *:hover {
            background-color: $clr5;
        }
    }

}
