.board-app-container {
    width: 100%;
    height: 100%;
    animation: card-list-animation 1s;

    .board-background {
        z-index: -1;
        width: 100%;
        height: 100vh;
        position: fixed;
    }
    .wrap-card-lists {
        width: fit-content;
        height: 99vh;

        .card-lists {
            padding: 79px 10px 0 30px;
            height: 100%;
        }

        .wrap-card-list {
            height: fit-content;
            background-color: $clr6;
            margin-right: 20px;
            border-radius: 4px;
            &.animation {
                animation: card-list-animation 1s;
            }

            .card-list-container {
                height: fit-content;
                width: 270px;

                .card-list {
                    padding-bottom: 2px;
                    max-height: calc(100vh - 250px);
                    margin-right: 2px;
                    overflow-y: auto;

                    > :last-child{
                        position: relative;
                        .menu-options {
                            // transform: translateY(-50%);
                            display: inline-block;
                        }
                    } 
                }

                .title-content {
                    // padding: 32px 16px 16px;
                    padding: 16px 16px 0px;

                    input {
                        height: 30px;
                        width: 200px;
                        border: 0;
                        font-family: Ubuntu;
                        font-size: 1.4rem;
                    }

                    .list-title {
                        color: $clr1;
                        font-size: 1.2rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                > :last-child {
                    border: 0;
                    height: 30px;
                    box-shadow: 0px -4px 1px -4px #4885ff;
                    padding: 20px 0;
                    margin: 0;
                    width: 100%;
                    color: darken($color: $clr4, $amount: 15%);
                    &:hover {
                        color: #4886ff;
                        background-color: $clr6;
                    }
                }

                &.list-hidden {
                    visibility: hidden;
                }

                &:hover .list-hidden {
                    visibility: visible;
                }

                & .list-opacity {
                    opacity: 0.2;
                }

                h2 {
                    color: $clr6;
                    margin-bottom: 5px;
                }

            }
        }
        .add-list {
            .add-list-btn {
                right: 60px;
                bottom: 60px;
                position: fixed;
                box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.424);
                border-radius: 50%;
                padding: 15px;
                background-color: #4886ff;
                cursor: pointer;
                width: 50px;
                height: 50px;
                transition: 0.25s;
                animation: add-list-btn 0.3s linear;
                &:hover {
                    transform: translate(5px, 5px) rotate(90deg);
                    width: 60px;
                    height: 60px;
                    div {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            input {
                position: absolute;
                width: 300px;
                height: 50px;
                right: -100px;
                bottom: 200px;
                opacity: 0;
                transition: 0.25s;
                padding-left: 20px;
                font-size: 1.2rem;
                border: 0;
                border-radius: 4px;
                box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.424);
                &:focus {
                    right: 40px;
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes add-list-btn {
    0% {
        visibility: hidden;
    }
    20% {
        background-color: $clr6;
        visibility: hidden;
    }
    21% {
        width: 300px;
        height: 50px;
        right: 60px;
        bottom: 200px;
        border-radius: 4px;
    }

    100% {
        visibility: visible;
        width: 60px;
        height: 60px;
        right: 60px;
        bottom: 60px;
        transform: translate(5px, 5px);
    }
}

@keyframes card-list-animation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
