.card-col{
    padding: 4px;
    width: 250px;
    margin: 8px;
    min-height: 500px;

    &.lightblue {
        background-color: lightblue;
    }
    & .lightgrey {
        background-color: lightgrey;
    }
}
