.board-app-container {
    // position: fixed;
    width: 100vw;
    height: 100vh;
    // margin: 0;
    padding-top: 50px;
    overflow-x: scroll;

    .wrap-card-lists {
        margin: 30px 0 0 30px;
        padding-right: 30px;
        width: fit-content;
        ::-webkit-scrollbar {
            width: 0;
        }
        // position: relative;

        // margin-top:40px;
        .wrap-card-list {
            height: fit-content;
            .card-list-container {
                height: fit-content;
                cursor: pointer;
                border-radius: 4px;
                margin: 0 8px;
                width: 250px;
                min-width: 250px;
                position: relative;
                // min-height: 50px;

                .card-list {
                    padding-bottom: 1px;
                    max-height: calc(100vh - 250px);
                    height: fit-content;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }

                .list-title {
                    color: $clr5;
                    font-size: 1.3rem;
                }
                .title-content {
                    padding: 10px 5px;
                    border-radius: 3px;
                    margin-bottom: 7px;
                    min-height: 40px;
                    background-color: rgba(0, 0, 0, 0.2);
                    // position: absolute;
                    // top: 0;
                    width: 250px !important;
                    // transform: translateY(-115%);
                }
                > :last-child {
                    height: 30px;
                }

                & .list-hidden {
                    visibility: hidden;
                }

                &:hover .list-hidden {
                    visibility: visible;
                }

                & .list-opacity {
                    opacity: 0.2;
                }

                h2 {
                    color: $clr6;
                    margin-bottom: 5px;
                }

                .top-icons {
                    float: right;
                }

                &.add-list {
                    background-color: rgba(0, 0, 0, 0.1);
                    color: $clr6;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    width: 250px !important;
                    // top: 0;
                    // width:   100%;
                    // transform: translateY(-115%);
                }
            }
        }
    }
}

.add-list {
    padding: 10px 5px;
    margin-left: 5px;
    border-radius: 3px;
    color: $clr6;
    margin-bottom: 7px;
    height: 49px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 250px !important;
    font-size: 14px;
    cursor: pointer;
    h2{
        padding-left: 10px;
    }
}
