.chart-container {
    .nav-chart-btn {
    }
    .screen {
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);

        .chart-modal {
            position: absolute;
            width: 90vw;
            height: 85vh;
            background-color: $clr6;
            padding: 15px;
            transform: translateX(-100%);
            transition: 0.25s;


            
        }

        &.modal-open {
            display: flex;
            transform: translateX(0%);

            .chart-modal{
            transform: translateX(0%);
            }
        }
    }
}
