.chart-container {
    .chartjs-render-monitor {
        width: 100% !important;
        height: auto !important;
        // max-width: % !important;
    }
    // .nav-chart-btn {
    // }
    .screen {
        align-items: center;
        justify-content: center;
        transform: translateY(100%);

        .chart-modal {
            overflow: auto;
            position: absolute;
            width: 90vw;
            height: 85vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            background-color: $clr6;
            padding: 15px;
            transform: translateY(100%);
            transition: 0.5s;
        }

        &.modal-open {
            display: flex;
            transform: translateY(0%);
            // opacity: 1;
            > *:not(:last-child) {
                margin-bottom: 20px;
            }

            .chart-modal {
                .chart-bar{
                    flex: 1;
                    height: 45%;
                }
                transform: translateX(0%);
                h2 {
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                > *:nth-child(1) {
                    margin-right: 20px;
                }
                >*:last-child{
                    padding-bottom: 50px;
                }

                > * {
                    width: 48%;
                    height: fit-content;
                    padding: 20px;
                    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.397);

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    @include for-w-mobile-layout {
                        width: 100%;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}
