.chart-container {
    .chartjs-render-monitor {
        width: 40vw !important;
        height: auto !important;
        // max-width: % !important;
    }
    .nav-chart-btn {
    }
    .screen {
        align-items: center;
        justify-content: center;
        transform: translateY(100%);

        .chart-modal {
            overflow: overlay;
            position: absolute;
            width: 90vw;
            height: 85vh;
            display: flex;
            flex-wrap: wrap;
            background-color: $clr6;
            padding: 15px;
            transform: translateY(100%);
            opacity: 0;
            transition: 0.5s;
        }

        .chart-bar {
            justify-self: center;
            align-self: center;
        }

        &.modal-open {
            display: flex;
            transform: translateY(0%);
            
            .chart-modal {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
}
