.dashboard {
    width: 80vw;
    margin: 0 auto;
    padding-top: 100px;

    .boards-main-container {
        background-color: lighten($color: $clr4, $amount: 10);
        padding-top: 20px;
        border-radius: 4px;
        // animation: boards-main-container-animation 1s;
        &:first-child {
            margin-bottom: 51px;
        }

        > h3 {
            margin-left: 30px;
            padding-left: 30px;
            height: 20px;

            &.all-board-title {
                background-image: url(../../images/board-btn.svg);
                background-repeat: no-repeat;
            }
            &.starred-title {
                background-image: url(../../images/Linecons_big-star.svg);
                background-repeat: no-repeat;
            }
        }

        .boards-container {
            flex-wrap: wrap;
            padding: 20px;
            margin-bottom: 20px;

            .board {
                padding: 5px;
                border: 0;
                border-radius: 4px;
                background-color: $clr6;
                margin: 10px;
                height: 100px;
                width: 200px;
                color: $clr6;
                animation: board-animation 1s;
                cursor: pointer;

                h3 {
                    font-family: Roboto;
                }

                .starred,
                .not-starred {
                    visibility: hidden;
                    position: relative;
                    top: 50%;
                    left: 90%;
                    cursor: pointer;
                }

                .menu-btn {
                    visibility: hidden;
                    position: relative;
                    content: url(../../images/iconmonstr-menu.svg);
                    width: 1rem;
                    bottom: 45%;
                    left: 91%;
                    cursor: pointer;
                }

                &:hover {
                    .starred,
                    .not-starred,
                    .menu-btn {
                        visibility: visible;
                        display: block;
                    }
                }

                .starred::before {
                    content: "\2605";
                }
                .not-starred:before {
                    content: "\2606";
                }
            }

            .add-board {
                background-color: $clr6;
                border: 1px dashed $clr3;
                // box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);

                h3 {
                    color: $clr2;
                    font-size: 1rem;
                    transition: 0.2s;
                }
                &:hover {
                    h3 {
                        font-size: 1.1rem;
                    }
                }

                form input {
                    border: 0;
                    border-bottom: 1px solid $clr3;
                    height: 30px;
                    border-radius: 3px;
                }
            }
        }
    }
}

@keyframes boards-main-container-animation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes board-animation {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 200px;
        height: 100px;
    }
}
