.dashboard {
    .label{
        margin: 0 40px;
    }

    .boards-container {
        flex-wrap: wrap;
        padding: 20px;
        margin-bottom: 20px;

        .board {
            padding: 5px;
            border: 0;
            border-radius: 4px;
            background-color: #dfe4ea;
            margin: 10px;
            height: 100px;
            width: 200px;
            color: $clr6;
            cursor: pointer;
        }
    }
}
