.dashboard {
    width: 80vw;
    margin: 0 auto;
    margin-top: 40px;
    .label {
        margin: 0 40px;
    }

    .boards-container {
        flex-wrap: wrap;
        padding: 20px;
        margin-bottom: 20px;

        .board {
            .starred,
            .not-starred {
                display: none;
                position: relative;
                top: 50%;
                left: 90%;
                cursor: pointer;
            }

            padding: 5px;
            border: 0;
            border-radius: 4px;
            background-color: #dfe4ea;
            margin: 10px;
            height: 100px;
            width: 200px;
            color: $clr6;
            cursor: pointer;

            &:hover{
                .starred, .not-starred{
                    display: block;
                }
            }

            .starred::before {
                content: "\2605";
            }
            .not-starred:before {
                content: "\2606";
            }
        }
    }
}
