.nav-menu-filter{
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    input{
        outline: none;
        margin-left: 0px;
        width: 95%;
        height: 40px;
        padding-left: 35px;
        border: 1.3px solid rgb(236, 236, 236);
        border-radius: 5px;
        background-color: $clr6;
    &:focus{
        border: 1.3px solid rgb(44, 178, 240); 
    }
    &::placeholder{
        ::before{
            content: url(../../images/search.svg);
            visibility: visible;
        }
    }
    }

}