.nav-bar {
    color: $clr2;
    z-index: 1;
    position: fixed;
    // opacity: 0.8;
    font-size: 16.5px;
    width: 100vw;
    top: 0;
    margin: 0;
    background-color: rgba($clr6, 0.8);
    padding: 7px 30px 7px 32px;
    box-shadow: 0px 14px 16px -20px rgba(0, 0, 0, 0.75);
    & > * {
        opacity: 1 !important;
    }

    .img-wrapper {
        display: flex;
        overflow: hidden;
        height: 35px;
        width: 120px;
        padding: 0;
        margin: 0;
        &::after {
            background-color: yellow;
            content: " bbbbbbbbbbbbbbbbbbb";
        }
        .logo {
            content: url(../../images/taskker-logo-black.svg);
            position: relative;
            width: 100%;
            transform: scale(5);
            cursor: pointer;
        }
    }

    .nav-menu-btn {
        content: url(../../images/icons8-menu.svg);
        cursor: pointer;
        margin-right: 15px;
    }

    .board-menu {
        width: fit-content;
        height: 30px;
        background-color: transparent;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.199);
        font-weight: 600;
        border-radius: 5px;
        border: none;
        &:hover {
            background-color: rgba(103, 149, 247, 0.267);
        }
    }
    .nav-left-section {
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }
    .nav-right-section {
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }

    .home-button,
    .board-button {
        font-size: 10px;
        > *:not(:last-child) {
            margin-right: 12px;
        }
    }

    .board-left {
        margin-left: 10px;
    }

    .nav-user-profile {
        border-radius: 50%;
        background-color: $clr3;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            cursor: pointer;
        }
    }

    .member-modal {
        background: white;
        position: absolute;
        z-index: 1;
        width: max-content;
        height: -moz-fit-content;
        height: fit-content;
        text-align: center;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
        border-radius: 4px;
        margin-top: 10px;
        margin-left: -23px;
        transition: 0.25s;
        transform: translateX(100%);
        &.modal-open {
            transform: translateX(-20%);
        }

        > * {
            padding: 10px;
            cursor: pointer;
        }
        > *:hover {
            background-color: $clr5;
        }
        &.list-menu {
            margin-top: 3px;
        }
    }

    .nav-notification-btn {
        margin-left: 10px;
        content: url(../../images/bell.svg);
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.199);
        padding: 5px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: rgba(90, 140, 248, 0.267);
        }
    }
    .board-txt {
        font-size: 14px;
        font-weight: 600;
        &:hover {
            color: #4886ff;
        }
        @include for-w-mobile-layout {
            content: " ";
            display: none;
        }
    }
}

.nav-bar {
    @include for-w-mobile-layout {
        .card-search {
            width: 100% !important;
            &::placeholder {
                &:focus {
                    &::placeholder {
                        padding-left: 0px;
                    }
                }
            }
        }
        // .nav-search-result {
        //     &.open-modal {
        //         width: 80vw;
        //     }
        .nav-search-result-container {
            position: static;
            transform: translate(0, 0);
            // .card-search {
            //     :focus {
            //         position: absolute;
            //         left: 0;
            //         top: 0;
            //     }
            // }
        }

        .nav-search-result {
            &.open-modal {
                width: 80vw;
                transform: translate(0%, 0%);
            }
        }

        .mobile-menu {
            padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            background: white;
            z-index: 3;
            width: max-content;
            text-align: center;
            box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            transform: translate(-100%, 0%);
            transition: 0.25s;

            &.modal-open {
                transform: translate(0%, 0%);
            }

            > * {
                position: static !important;
                left: 0 !important;
                top: 0 !important;
                width: 100% !important;
                height: auto !important;
                padding: 0 !important;
                margin: 0 !important;
                border: 0 !important;
                box-shadow: none !important;
            }
            * {
                transform: translate(0, 0) !important;
            }
            > *:not(:last-child) {
                margin-bottom: 20px;
                box-shadow: 0px 14px 16px -20px rgba(0, 0, 0, 0.75);
            }
            > *:first-child {
                margin-bottom: 50px !important;
            }
        }
    }
}
