.nav-bar {
    color: $clr2;
    z-index: 1;
    position: fixed;
    // opacity: 0.8;
    font-size: 16.5px;
    top: 0;
    width: 100%;
    background-color: rgba($clr6, 0.8) ;
    padding: 7px 30px 7px 32px;
    box-shadow: 0px 14px 16px -20px rgba(0,0,0,0.75);
    & > * {
        opacity: 1 !important;
    }

    .logo{
        content: url(../../images/taskker-logo-black.svg);
        position: absolute;
        width: 160px;
    }

    .nav-menu-btn {
        content: url(../../images/icons8-menu.svg);
        cursor: pointer;
        margin-right: 15px;
    }

    .board-menu {
        width: fit-content;
        height: 30px;
        background-color: transparent;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.199);
        font-weight: 600;
        border-radius: 5px;
        border: none;
        &:hover {
            background-color: rgba(103, 149, 247, 0.267);
        }
    }
    .nav-left-section {
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }
    .nav-right-section{
        > *:not(:last-child) {
            margin-right: 10px;
        }
    }

 .home-button,
    .board-button {
        font-size: 10px;
        > *:not(:last-child) {
            margin-right: 12px;
        }
    }

    .board-left {
        margin-left: 10px;
    }

    .nav-user-profile {
        border-radius: 50%;
        background-color: $clr3;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            cursor: pointer;
        }
    }

    .member-modal {
        background: white;
        position: absolute;
        z-index: 1;
        width: max-content;
        height: -moz-fit-content;
        height: fit-content;
        text-align: center;
        box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15), 0 5px 20px 0 rgba(21, 27, 38, 0.08);
        border-radius: 4px;
        margin-top: 10px;
        margin-left: -23px;
        transition: .25s;
        transform: translateX(100%);
        &.modal-open{
            transform: translateX(-8%);
        }

        > * {
            padding: 10px;
            cursor: pointer;
        }
        > *:hover {
            background-color: $clr5;
        }
        &.list-menu {
            margin-top: 3px;
        }
    }

    .nav-notification-btn {
        margin-left: 10px;
        content: url(../../images/bell.svg);
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.199);
        padding: 5px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: rgba(90, 140, 248, 0.267);
        }
    }
    .board-txt{
        font-size: 14px;
        font-weight: 600;
        &:hover{
            color: #4886FF;
        }
    }
}
