.nav-menu {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    overflow-x: hidden;
    padding: 0 20px;
    transition: .25s;

    > div {
        overflow-x: hidden;
    }

    &.nav-open{
        transform: translateX(0%);
    }
    .board-search {
        background: url(../../images/search.svg) center / contain no-repeat;
        background-size: 20px;
        background-position: 10px;
    }
    .label {
        margin: 0px 0px 10px 10px;
        font-family: "DM Mono";
        font-size: 14px;
        span {
            font-size: 18px;
        }
    }

    .nav-menu-header {
        padding: 20px 20px;
        overflow: hidden;
    }
    > *:first-child{
        margin-top: 20px;
    }
    > *:not(:last-child){
        margin-bottom: 20px;
    }

    
    .list-header{
        font-size: 15px;
    }

    .nav-menu-filter {
        opacity: 1 !important;
        // margin-bottom: 20px;
        // padding: 0 10px;
        overflow: hidden;
        input {
            outline: none;
            margin-left: 0px;
            width: 95%;
            height: 40px;
            padding-left: 35px;
            border: 1.3px solid rgb(236, 236, 236);
            border-radius: 5px;
            background-color: $clr6;
            &:focus {
                border: 1.3px solid rgb(44, 178, 240);
            }
            &::placeholder {
                ::before {
                    content: url(../../images/search.svg);
                    visibility: visible;
                }
            }
        }
    }

    .boards-container {
        margin-bottom: 15px;

        .board {
            color: $clr6;
            height: 30px;
            width: 95%;
            border-radius: 3px;
            cursor: pointer;
            margin-bottom: 8px;
            background-color: #dfe4ea;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s ease;
            &:hover {
                height: 50px;
            }
        }
    }
    .nav-boards-preview-header {
        margin-bottom: 10px;
    }
}

.nav-boards-preview-wrapper {
    overflow: scroll;
    .no-match {
        color: red;
        font-size: 10px;
    }
}

// @keyframes navMenuSlideIn {
//     from {
//         transform: translateX(0%);
//         opacity: 1;
//     }
//     to {
//         transform: translateX(-100%);
//         opacity: 0;
//     }
// }

// @keyframes navMenuSlideOut {
//     from {
//         transform: translateX(0%);
//         opacity: 1;
//     }
//     to {
//         transform: translateX(-100%);
//         opacity: 0;
//     }
// }
