.nav-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    // height: 42.5px;
    background-color: $clr6;
    // background-color: transparent;
    padding: 10px 40px 10px;

    .board-menu {
        width: fit-content;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.226);
        font-weight: 600;
        border-radius: 5px;
        border: none;
        color: $clr1;
        &:hover {
            background-color: rgba(136, 172, 250, 0.267);
        }
    }

    .nav-user-profile {
        border-radius: 50%;
        color: $clr5;
        background-color: $clr2;
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            cursor: pointer;
        }
    }
    .nav-notification-btn {
        margin-left: 10px;
        content: url(../../images/bell.svg);
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.267);
        padding: 5px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: rgba(136, 172, 250, 0.267);
        }
    }
    input {
        height: 35px;
        width: 200px;
        margin-left: 15px;
        border-radius: 4px;
        border: 0;
        color: $clr2;
        outline: none;
        padding-left: 35px;
        font-size: 16.5px;
        font-family: "DM Mono";
        background: url(../../images/search-solid.svg) center / contain no-repeat;
        background-size: 20px;
        background-position: 10px;
        border: 1px solid $clr4;
        transition: .25s;

        &::placeholder {
            padding-left: 5px;
            font-size: 14px;
        }
        &:focus {
            width: 250px;
        }
    }
}
