.wrap-icons,
.card-preview,
.add-list,
.screen,
.card-details-content-wrapper,
.interactive-robot-container,
.card-list-container {
    .dueDate {
        content: url(../../images/clock.svg);
        width: 15px;
        margin-right: 7px;
    }

    .trash {
        content: url(../../images/trash.svg);
        cursor: pointer;
         width: 20px;
    }

    .comment {
        content: url(../../images/comment.svg);
         width: 15px;
    }

    .robot{
        background-image: url(../../images/robot.png);
        background-position: center;
        background-size: 100%;
        width: 120px;
        height: 120px;
        
    }

    .white-trash {
        content: url(../../images/white-trash.svg);
        cursor: pointer;
         width: 20px;
    }
    .humburger {
        content: url(../../images/humburger.png);
        width: 10px;
        cursor: pointer;
    }
    .label {
        content: url(../../images/tag.svg);
        width: 25px;
    }

    .photo {
        content: url(../../images/photo.svg);
        width: 13px;
    }

    .cancel {
        content: url(../../images/cancel.svg);
        width: 10px;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            width: 15px;
        }
    }
    .attachments {
        content: url(../../images/documents.svg);
        width: 25px;
    }
    .edit {
        content: url(../../images/pen.png);
        width: 25px;
        cursor: pointer;
    }

    .list {
        content: url(../../images/list.svg);
        width: 15px;
    }

    .due-date {
        content: url(../../images/due-date.svg);
        width: 15px;
    }

    .text {
        content: url(../../images/text.svg);
        width: 10px;
    }

    .checkmark {
        content: url(../../images/checkmark.svg);
        width: 20px;
        margin-right: 5px;
    }

    .comments {
        content: url(../../images/comment.png);
        width: 10px;
    }
    .description {
        content: url(../../images/description.png);
        width: 10px;
    }
    .star {
        content: url(../../images/star.png);
        width: 10px;
    }
    .plus {
        content: url(../../images/plus.png);
        width: 10px;
    }
    .checkList {
        content: url(../../images/check-box.png);
        width: 10px;
    }
    .humburger {
        content: url(../../images/humburger.png);
        width: 10px;
    }

    .members {
        content: url(../../images/user.svg);
        width: 25px;
    }

    .loading {
        content: url(../../images/30.gif);
        width: 50px;
    }

    .pulse {
        content: url(../../images/pulse.svg);
        width: 30px;
        margin-left: 15px;
    }

    .next {
        content: url(../../images/next.svg);
        width: 25px;
    }

    .menu-btn {
        content: url(../../images/menu.svg);
        width: 10px;
        transform: rotate(90deg);
        cursor: pointer;
    }
    .edit-regular {
        content: url(../../images/edit-regular.svg);
        width: 20px;
        margin-right: 15px;
        fill: green;
        cursor: pointer;
    }
}
