.wrap-icons, .card-preview, .card-list-container{
    .dueDate{
        content: url(../../images/clock.png);
        width: 10px;

    }
    .attachments{
        content: url(../../images/attach.png);
        width: 10px;

    }
    .comments{
        content: url(../../images/comment.png);
        width: 10px;

    }
    .description{
        content: url(../../images/description.png);
        width: 10px;

    }
    .star{
        content: url(../../images/star.png);
        width: 10px;
    }
    .plus{
        content: url(../../images/plus.png);
        width: 10px;
    }
    .checkList{
        content: url(../../images/check-box.png);
        width: 10px;
    }
    .members  img{
        width: 30px;
        float: right;
    }
    .trash {
        content: url(../../images/trash.png);
        cursor: pointer;
        width: 20px;
    }
    .humburger {
        content: url(../../images/humburger.png);
        width: 10px;
    }
}

