 @font-face {
    font-family: 'DM Mono';
    src: url(https://fonts.gstatic.com/s/dmmono/v1/aFTW7PB1QTsUX8KYth-gBqSI.woff2);
}

 @font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2);
}
