// Colors
$clr1: #353b48;
$clr2: #57606f; 
$clr3: #95adbe;
$clr4: #d9dbdf;
$clr5: #f6f7fb;
$clr6: #fff;

//Chart colors 
$clrChart1: #003f5c;
$clrChart2: #2f4b7c;
$clrChart3: #665191;
$clrChart4: #a05195;
$clrChart5: #d45087;
$clrChart6: #f95d6a;
$clrChart7: #ff7c43;
$clrChart8: #ffa600;

// Breakpoints
$mobile-breakpoint: 460px;
$w-mobile-breakpoint: 610px;
$w2-mobile-breakpoint: 750px;
$narrow-breakpoint: 820px;
$normal-breakpoint: 1040px;
$desktop-breakpoint: 1400px;
