// Colors
$clr1: #2c3e50;
$clr2: #57606f; 
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #f6f7fb;
$clr6: #fff;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;